/* filepath: /D:/Upwork/K_Logo/Git/k_logo/style.css */
body {
    background: radial-gradient(circle, #2f2f2f, #080808);
    overflow: hidden;
}

#threejscanvas {
    width: 100vw;
    height: 100vh;
}


#info{
    color:white;
    position: absolute;
    bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

#title {
font-size: xx-large;
}

#description {
    font-size: medium;
}

@media screen and (max-width: 1000px) {
    #info {
        bottom: 5px;
    }
    
    #title {
        font-size: x-large;
    }

    #description {
        font-size: small;
    }
}